.deco{
    color: rgb(182, 153, 124);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: 3rem;
}

.estudio{
    color: rgb(50, 49, 48);
    font-family: cursive;
    margin: 0;
}
