.nav-item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(203, 178, 141);
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}

